body {
    background-color: grey;
}

#main {
    margin-top: 10%;
    margin-left: 30%;
    height: 300px;
    width: 600px;
    background-color: yellow;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 20px;
}

#username, #pwd {
    width: 180px;
    height: 30px;
}

#btn{
    width: 80px; 
    height: 40px;
    margin-left: 30%; 
    background-color: greenyellow;
}